@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* html,
body {
  @apply bg-gray-50 dark:bg-gray-900;
} */

/* Write your own custom component styles here */


@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-Thin.ttf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-ThinItalic.ttf");
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-ExtraLight.ttf");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-ExtraLightItalic.ttf");
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-LightItalic.ttf");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-Italic.ttf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-MediumItalic.ttf");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-SemiBoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-ExtraBoldItalic.ttf");
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-Black.ttf");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway/Raleway-BlackItalic.ttf");
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Adca";
  src: url("/fonts/adca/Adca.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: 'Raleway', sans-serif;
}

html {
  background-color: #f0f0f0;
  scroll-behavior: auto;
  scroll-padding-top: 114px;
}

.AppAnimatedBackground {
  height: 1043.9px;
}

.AppAnimatedBackground-50 {
  height: 1423.5px;
}

.AppAnimatedBackground-100 {
  height: 1898px;
}

.AppAnimatedBackground-120 {
  height: 2087.8px;
}

.AppAnimatedBackground-220 {
  height: 3036.8px;
}

.AppAnimatedBackground-parent-customString {
  height: 100vh;
  top: -8vw;
  left: -10vw;
  right: 10vw;
  width: 120vw;
}

.AppAnimatedBackground-stroke-customString {
  font-family: 'Adca', sans-serif;
  -webkit-text-stroke: .3vw rgba(255, 255, 255, 1);
}

.AppAnimatedBackgroundStd-dialog-groupPicture {
  height: 640px;
  width: 640px;
}

.AppAnimatedBackgroundStd-membersPicture {
  height: 362.34939759px;
  width: 300px;
}

.AppBlog-thumbnail {
  height: 72vh;
}

.AppCarouselCard {
  /* clip: rect(0px,360px,360px,0px); */
  height: 360px;
}

.AppCarouselCard-thumbnail {
  height: 150%;
  max-height: 360px;
  width: 150%;
}

.AppFooter-icon-brand {
  height: 106px;
  width: 106px;
}

.AppFooter-icon-link {
  height: 92px;
  width: 92px;
}

.AppHeader {
  height: 1186.25px;
}

.AppInstagram-card {
  height: 350.14536px;
  width: 280px;
}

.AppInstagram-parent {
  width: 900px;
}

.AppNavbar-logo {
  height: 90px;
  width: 90px;
}

.AppNavbarSub-parentMenu {
  background-color: #ffffff;
}

.AppNavbarSub-parentMenu:hover {
  background-color: #63c8c4;
}

.AppScrollTop {
  border-radius: 50%;
  bottom: 24px;
  background-color: #009989;
  font-size: 24px;
  height: 48px;
  right: 24px;
  padding: 1rem;
  position: fixed;
  width: 48px;
}

.AppScrollTop:hover, .AppScrollTop:focus, .AppScrollTop:active {
  background-color: #63c8c4;
}

.AppYoutube {
  padding-bottom: 56.25%;
}

.black-secondary-background {
  background-color: #231f20;
}

.bg-header-0 {
  background-image: url('/foto_1_cover_depan_w_dccBq.jpg');
}

.bg-header-1 {
  background-image: url('/foto_2_cover_depan_w_ks8WM.jpg');
}

.bg-header-2 {
  background-image: url('/foto_3_cover_depan_w_Ig9xZ.jpg');
}

.black-secondary-color {
  color: #231f20;
}

.blog-thumbnail {
  min-height: 300px;
}

.blog-filter {
  max-height: 180px;
}

.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

.custom-rounded-button {
  border-radius: 50%;
  background-color: #009989;
  font-size: 24px;
  height: 48px;
  padding: 1rem;
  width: 48px;
}

.custom-rounded-button:hover, .custom-rounded-button:focus, .custom-rounded-button:active {
  background-color: #63c8c4;
}

.customString-stroke-black {
  -webkit-text-stroke: 1px #63c8c4;
}

.font-adca {
  font-family: 'Adca', sans-serif;
}

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      user-select: none; }

.glide__arrow {
  font-weight: 900;
  font-size: 24px;
  position: absolute;
  display: block;
  top: 180px;
  z-index: 2;
  color: #009989; 
  text-transform: uppercase;
  padding: 9px 12px;
  /* background-color: none; */
  /* border: 2px solid rgba(255, 255, 255, 0.5); */
  /* border-radius: 50%; */
  /* box-shadow: none; */
  /* text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1); */
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    border-color: white; }
  .glide__arrow--left {
    left: 0; }
  .glide__arrow--right {
    right: 0; }
  .glide__arrow--disabled {
    opacity: 0.33; }

.glide__bullets {
  /* position: absolute; */
  z-index: 2;
  /* bottom: -1em; */
  /* left: 50%; */
  display: inline-flex;
  list-style: none;
  /* transform: translateX(-50%); */ }

.glide__bullet {
  background-color:#63c8c4;
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em; }
  .glide__bullet:focus {
    outline: none; }
  .glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid #009989;
    background-color: #ffffff; }
  .glide__bullet--active {
    background-color: #009989; } 

.glide__slide {
  background-color: #ffffff;
  /* border: 1px solid #222222; */
  display: flex;
  justify-items: center;
  align-items: center;
  /* text-align: center; */
  /* padding: 0.3rem; */
  width: 100%;
  height: 360px;
  max-height: 360px;
  max-width: 360px;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }
  .glide__slide a {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none; }

.green-base-background {
  background-color: #63c8c4
}

.green-base-color {
  color: #63c8c4
}

.gray-base-background {
  background-color: #f0f0f0;
}

.green-secondary-background {
  background-color: #009989;
}

.image-377_99 {
  height: 377.99px;
  width: 377.99px;
}

.image-500 {
  height: 500px;
  width: 500px;
}

.text-18xl {
  font-size: 16vw;
  line-height: 1;
}

.tippy-box[data-theme~='amities'] {
  background-color: #009989;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

.tippy-box[data-theme~='amities'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #009989;
}

.tippy-box[data-theme~='amities'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #009989;
}

.tippy-box[data-theme~='amities'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #009989;
}

.tippy-box[data-theme~='amities'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #009989;
}

.tippy-customContent {
  background-color: #ffffff;
  color: #222222;
}

.tippy-customContent:hover {
  background-color: #63c8c4;
  color: #ffffff;
}

@media (max-width: 768px) {
  .AppInstagram-parent {
    width: 300px;
  }
}

@media (max-width: 1024px) {
  html {
    scroll-padding-top: 72px;
  }

  .AppHeader {
    height: 100vh;
  }
}

@media (max-width: 1200px) {
  .glide__arrow--left {
    left: 1em; }
  .glide__arrow--right {
    right: 1em; }
}

@media (max-width: 1440px) {
  html {
    scroll-padding-top: 112px;
  }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
